@charset "UTF-8";
/*
Основной цвет текста #757575
Вторичный цвет текста #212121
Акцент #2196F3
font-family: Raleway bold; - лого
font-family: Roboto 500; - навигация шапки, h команды, нав портфолио
font-family: Roboto 900; h героя
font-family: Roboto bold; кнопка услуг, h фичи, h секций, h портфеля
font-family: Roboto normal(400) p фичи, p команды, p портфеля
*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  color: inherit;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-style: normal;
  max-width: 1600px;
  margin: auto;
}

img {
  display: block;
}

.section {
  padding-top: 130px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.about .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
}

.client .container {
  padding-top: 94px;
  padding-bottom: 92px;
}

.features .container {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.header .container {
  display: flex;
  align-items: center;
}

.team .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero .container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img.jpg);
}

.footer .container {
  padding: 60px 15px;
  display: flex;
  align-items: baseline;
}

.features .container {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-first {
  color: #2196f3;
}

.logo-second {
  color: #212121;
}

.header .logo {
  margin-right: 94px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms linear 500ms;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 500ms linear 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 500ms linear 0ms;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus, .close-btn:hover {
  fill: #2196f3;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 448px;
  min-height: 342px;
  margin: 0 auto;
}

.contact-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.contact-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__message {
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.contact-form__input:focus, .contact-form__message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.contact-form .contact-form-accept-lable {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contact-form-accept-lable::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 2px;
}

.contact-form-accept:checked + .contact-form-accept-lable::before {
  background-image: url(../images/hero/accept-icon.svg);
  background-color: #2196f3;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2196f3;
}

.contact-form__submit {
  align-self: center;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
  padding: 10px 56px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.contact-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus + .contact-form-icon {
  fill: #2196f3;
}

.accept-link {
  color: #2196f3;
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  background-color: #2196f3;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.header {
  padding-top: 32px 0;
  border-bottom: 1px solid #ececec;
}

.header .address {
  margin-left: auto;
}

.header .address-list {
  display: flex;
  align-items: center;
}

.header .address-logo {
  display: inline-block;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding: 31px 0;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link:focus, .header-mail-link:hover {
  color: #2196f3;
}

.navigation-list-item-link {
  padding-top: 32px;
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item-link.current-page {
  color: #2196f3;
}

.navigation-list-item-link.current-page::after {
  position: absolute;
  display: block;
  margin-top: 27px;
  content: "";
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.navigation-list-item-link:hover, .navigation-list-item-link:focus {
  color: #2196f3;
}

.header-tel-link {
  display: flex;
  align-items: center;
  padding: 31px 0;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link:focus, .header-tel-link:hover {
  color: #2196f3;
}

.header-mail-link:hover .address-logo,
.header-tel-link:hover .address-logo,
.header-mail-link:focus .address-logo,
.header-tel-link:focus .address-logo {
  fill: #2196f3;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.detail::before {
  background-image: url(../images/features/antenna.svg);
}

.time::before {
  background-image: url(../images/features/clock.svg);
}

.plan::before {
  background-image: url(../images/features/diagram.svg);
}

.tech::before {
  background-image: url(../images/features/astronaut.svg);
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-title::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-right: 30px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  width: 270px;
  height: 101px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-thumb {
  position: relative;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-list-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-content {
  width: 270px;
  padding-top: 30px;
  padding-right: 58px;
  padding-bottom: 30px;
  padding-left: 58px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-name {
  margin-bottom: 10px;
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-item-link:hover, .team-social-list-item-link:focus {
  background-color: #2196f3;
}

.social-link {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-item-link:hover .social-link,
.team-social-list-item-link:focus .social-link {
  fill: #f5f4fa;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item-link:hover .client-logo,
.client-list-item-link:focus .client-logo {
  fill: #2196f3;
}

.client-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item-link:hover, .client-list-item-link:focus {
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer .social-link {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  margin-right: 70px;
}

.footer-text-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.adress-list-item {
  margin-top: 10px;
}

.address-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover, .address-list-link:focus {
  color: #2196f3;
}

.footer-mail-link,
.footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-link:hover, .footer-mail-link:focus,
.footer-tel-link:hover,
.footer-tel-link:focus {
  color: #2196f3;
}

.logo-foot-second {
  color: #ffffff;
}

.footer-social {
  margin-right: 94px;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item-link:hover, .footer-social-list-item-link:focus {
  background-color: #2196f3;
}

.footer-form__input {
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: #ffffff;
}

.footer-form__submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.footer-form__submit::after {
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/footer/send-icon.svg);
}
/*# sourceMappingURL=main.css.map */