@charset "UTF-8";
/*
Основной цвет текста #757575
Вторичный цвет текста #212121
Акцент #2196F3
font-family: Raleway bold; - лого
font-family: Roboto 500; - навигация шапки, h команды, нав портфолио
font-family: Roboto 900; h героя
font-family: Roboto bold; кнопка услуг, h фичи, h секций, h портфеля
font-family: Roboto normal(400) p фичи, p команды, p портфеля
*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  color: inherit;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-style: normal;
  max-width: 1600px;
  margin: auto;
}

img {
  display: block;
}

.section {
  padding-top: 130px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.about .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
}

.client .container {
  padding-top: 94px;
  padding-bottom: 92px;
}

.features .container {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.header .container {
  display: flex;
  align-items: center;
}

.team .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero .container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img.jpg);
}

.footer .container {
  padding: 60px 15px;
  display: flex;
  align-items: baseline;
}

.features .container {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-first {
  color: #2196f3;
}

.logo-second {
  color: #212121;
}

.header .logo {
  margin-right: 94px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.header {
  padding-top: 32px 0;
  border-bottom: 1px solid #ececec;
}

.header .address {
  margin-left: auto;
}

.header .address-list {
  display: flex;
  align-items: center;
}

.header .address-logo {
  display: inline-block;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding: 31px 0;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link:focus, .header-mail-link:hover {
  color: #2196f3;
}

.navigation-list-item-link {
  padding-top: 32px;
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item-link.current-page {
  color: #2196f3;
}

.navigation-list-item-link.current-page::after {
  position: absolute;
  display: block;
  margin-top: 27px;
  content: "";
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.navigation-list-item-link:hover, .navigation-list-item-link:focus {
  color: #2196f3;
}

.header-tel-link {
  display: flex;
  align-items: center;
  padding: 31px 0;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link:focus, .header-tel-link:hover {
  color: #2196f3;
}

.header-mail-link:hover .address-logo,
.header-tel-link:hover .address-logo,
.header-mail-link:focus .address-logo,
.header-tel-link:focus .address-logo {
  fill: #2196f3;
}

.project-nav {
  margin-top: 94px;
  margin-bottom: 50px;
}

.project-nav-list {
  display: flex;
  justify-content: center;
}

.project-nav-list-item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.project-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-list-item:focus, .project-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-item .projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-list-item:nth-child(3n) {
  margin-right: 0px;
}

.project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-list-content {
  padding: 24px 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.overlay {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}

.overlay-text {
  display: block;
  padding: 64px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project-thumb:hover .overlay {
  transform: translateY(0);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
}

.footer .social-link {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  margin-right: 70px;
}

.footer-text-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.adress-list-item {
  margin-top: 10px;
}

.address-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover, .address-list-link:focus {
  color: #2196f3;
}

.footer-mail-link,
.footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-link:hover, .footer-mail-link:focus,
.footer-tel-link:hover,
.footer-tel-link:focus {
  color: #2196f3;
}

.logo-foot-second {
  color: #ffffff;
}

.footer-social {
  margin-right: 94px;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item-link:hover, .footer-social-list-item-link:focus {
  background-color: #2196f3;
}

.footer-form__input {
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: #ffffff;
}

.footer-form__submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.footer-form__submit::after {
  margin-left: 10px;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/footer/send-icon.svg);
}
/*# sourceMappingURL=portfolio.css.map */