.detail::before {
  background-image: url(../images/features/antenna.svg);
}

.time::before {
  background-image: url(../images/features/clock.svg);
}

.plan::before {
  background-image: url(../images/features/diagram.svg);
}

.tech::before {
  background-image: url(../images/features/astronaut.svg);
}

.features {
  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;

    &::before {
      display: block;
      content: "";
      width: 270px;
      height: 120px;
      background-color: $secondary-bg-color;
      margin-right: 30px;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-list {
    display: flex;

    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    width: 270px;
    height: 101px;
  }
}
