.header {
  padding-top: 32px 0;
  border-bottom: 1px solid #ececec;

  .address {
    margin-left: auto;

    &-list {
      display: flex;
      align-items: center;
    }

    &-logo {
      display: inline-block;
      margin-right: 10px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: $primary-text-color;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-mail-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding: 31px 0;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.navigation-list-item-link {
  padding-top: 32px;
  position: relative;
  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current-page {
    color: $accent-color;
    &::after {
      position: absolute;
      display: block;
      margin-top: 27px;
      content: "";
      background-color: $accent-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-tel-link {
  display: flex;
  align-items: center;
  padding: 31px 0;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.header-mail-link:hover .address-logo,
.header-tel-link:hover .address-logo,
.header-mail-link:focus .address-logo,
.header-tel-link:focus .address-logo {
  fill: $accent-color;
}
