.header {
  position: relative;
  border-bottom: 1px solid #ececec;

  .address {
    &-logo {
      display: inline-block;
      margin-right: 10px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: $primary-text-color;
    }
  }
}

.header-mail-link:hover .address-logo,
.header-tel-link:hover .address-logo,
.header-mail-link:focus .address-logo,
.header-tel-link:focus .address-logo {
  fill: $accent-color;
}

.navigation-list-item-link {
  position: relative;
  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current-page {
    color: $accent-color;
    &::after {
      position: absolute;
      display: block;
      left: 0;
      content: "";
      background-color: $accent-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-mail-link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.header-tel-link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .address {
    display: flex;
    justify-content: center;

    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-list-item:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .header-mail-link,
  .header-tel-link {
    font-size: 18px;
    line-height: 1.167;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    &-list {
      margin-bottom: 60px;

      &-item-link {
        font-size: 18px;
        line-height: 1.167;
      }
    }

    &-list-item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $accent-color;
    }

    .icon-close {
      display: none;
    }
    &.is-open .icon-close {
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }
}

.menu-container {
  display: none;
  background-color: $secondary-title-color;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 60px 0;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

/*.header {
  padding-top: 32px 0;
  border-bottom: 1px solid #ececec;

  .address {
    margin-left: auto;

    &-list {
      display: flex;
      align-items: center;
    }

    &-logo {
      display: inline-block;
      margin-right: 10px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: $primary-text-color;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;

  &-list {
    display: flex;
    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-mail-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
  padding: 31px 0;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.navigation-list-item-link {
  padding-top: 32px;
  position: relative;
  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current-page {
    color: $accent-color;
    &::after {
      position: absolute;
      display: block;
      margin-top: 27px;
      content: "";
      background-color: $accent-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-tel-link {
  display: flex;
  align-items: center;
  padding: 31px 0;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.header-mail-link:hover .address-logo,
.header-tel-link:hover .address-logo,
.header-mail-link:focus .address-logo,
.header-tel-link:focus .address-logo {
  fill: $accent-color;
}*/
