.team {
  background-color: $secondary-bg-color;

  &-list {
    display: flex;
    &-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.187;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-text-color;
    }

    &-position {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.187;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 16px;
    }

    &-item {
      width: 270px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      .team-list &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &-content {
      width: 270px;
      padding-top: 30px;
      padding-right: 58px;
      padding-bottom: 30px;
      padding-left: 58px;
      background-color: $secondary-title-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }

    &-name {
      margin-bottom: 10px;
    }
  }
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}

.social-link {
  fill: $link-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .team-social-list-item-link:hover &,
  .team-social-list-item-link:focus & {
    fill: $secondary-bg-color;
  }
}
