/*
Основной цвет текста #757575
Вторичный цвет текста #212121
Акцент #2196F3
font-family: Raleway bold; - лого
font-family: Roboto 500; - навигация шапки, h команды, нав портфолио
font-family: Roboto 900; h героя
font-family: Roboto bold; кнопка услуг, h фичи, h секций, h портфеля
font-family: Roboto normal(400) p фичи, p команды, p портфеля
*/

$primari-font-family: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$secondary-title-color: #ffffff;
$accent-color: #2196f3;
$secondary-bg-color: #f5f4fa;
$link-color: #afb1b8;
